@model UserViewModel


<h1 class="text-center"> @Model.Nome </h1>
<br />
<br />


<table class="table table-hover">

    <tr class="table-active">
        <th scope="auto">ID: @Model.Id</th>
        <th scope="auto">CPF: @Model.CPF</th>
        <th scope="auto">NOME: @Model.Nome</th>
        <td></td>
    </tr>

    <tr class="table-active">
        <th scope="auto">Endereço: @Model.Endereco</th>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr class="table-active">
        <th scope="auto">Email: @Model.Email</th>
        <th scope="auto">Numero: @Model.Numero</th>
        <th scope="auto">DDD: @Model.DDD</th>
        <td></td>
    </tr>

    <tr class="table-active">
        <th scope="auto">Telefone: @Model.Telefone</th>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr class="table-active">
        <th scope="auto">Salario: @Model.Salario</th>
        <td></td>
        <th scope="auto">Cargo: @Model.Cargo</th>
        <td></td>
    </tr>

    <tr class="table-active">
        <th scope="auto">Instituição: @Model.Instituicao1</th>
        <th scope="auto">Formação: @Model.Formacao1</th>
        <th scope="auto">Conclusão: @Model.Conclusao1.ToShortDateString()</th>
        <td></td>
    </tr>

    <tr class="table-active">
        <th scope="auto">Instituição: @Model.Instituicao2</th>
        <th scope="auto">Formação: @Model.Formacao2</th>
        <th scope="auto">Conclusão: @Model.ValidaData(@Model.Conclusao2)</th> 
        <td></td>
    </tr>

    <tr class="table-active">
        <th scope="auto">Instituição: @Model.Instituicao3</th>
        <th scope="auto">Formação: @Model.Formacao3</th>
        <th scope="auto">Conclusão: @Model.ValidaData(@Model.Conclusao3)</th>
        <td></td>

    </tr>

    <tr class="table-active">
        <th scope="auto">Instituição: @Model.Instituicao4</th>
        <th scope="auto">Formação: @Model.Formacao4</th>
        <th scope="auto">Conclusão: @Model.ValidaData(@Model.Conclusao4)</th>
        <td></td>

    </tr>

    <tr class="table-active">
        <th scope="auto">Instituição: @Model.Instituicao5</th>
        <th scope="auto">Formação: @Model.Formacao5</th>
        <th scope="auto">Conclusão: @Model.ValidaData(@Model.Conclusao5)</th>
        <td></td>


    </tr>

    <tr class="table-active">
        <th scope="auto">Empresa: @Model.Empresa1</th>
        <th scope="auto">Função: @Model.Funcao1</th>
        <td></td>
        <td></td>

    </tr>

    <tr class="table-active">

        <th scope="auto">Empresa: @Model.Empresa2</th>
        <th scope="auto">Função: @Model.Funcao2</th>
        <td></td>
        <td></td>

    </tr>

    <tr class="table-active">

        <th scope="auto">Empresa: @Model.Empresa3</th>
        <th scope="auto">Função: @Model.Funcao3</th>
        <td></td>
        <td></td>

    </tr>

</table>









