@model UserViewModel


<h1 class="text-center" > @Model.Nome </h1>
<br />
<br />

<p>

    <label class="form-label"> @Model.Id</label>
    <br />
    <label class="form-label"> @Model.CPF</label>
    <br />
    <label class="form-label"> @Model.Nome</label>
    <br />
    <label class="form-label"> @Model.Endereco</label>
    <br />
    <label class="form-label"> @Model.Numero</label>
    <br />
    <label class="form-label"> @Model.DDD</label>
    <br />
    <label class="form-label"> @Model.Telefone</label>
    <br />
    <label class="form-label"> @Model.Email</label>
    <br />
    <label class="form-label"> @Model.Salario</label>
    <br />
    <label class="form-label"> @Model.Cargo </label>
    <br />
    <label class="form-label"> @Model.Instituicao1</label>
    <br />
    <label class="form-label"> @Model.Formacao1</label>
    <br />
    <label class="form-label"> @Model.Conclusao1</label>
    <br />
    <label class="form-label"> @Model.Instituicao2</label>
    <br />
    <label class="form-label"> @Model.Formacao2</label>
    <br />
    <label class="form-label"> @Model.Conclusao2</label>
    <br />
    <label class="form-label"> @Model.Instituicao3</label>
    <br />
    <label class="form-label"> @Model.Formacao3</label>
    <br />
    <label class="form-label"> @Model.Conclusao3</label>
    <br />
    <label class="form-label"> @Model.Instituicao4</label>
    <br />
    <label class="form-label"> @Model.Formacao4</label>
    <br />
    <label class="form-label"> @Model.Conclusao4</label>
    <br />
    <label class="form-label"> @Model.Instituicao5</label>
    <br />
    <label class="form-label"> @Model.Formacao5</label>
    <br />
    <label class="form-label"> @Model.Conclusao5</label>
    <br />
    <label class="form-label"> @Model.Empresa1</label>
    <br />
    <label class="form-label"> @Model.Funcao1</label>
    <br />
    <label class="form-label"> @Model.Empresa2</label>
    <br />
    <label class="form-label"> @Model.Funcao2</label>
    <br />
    <label class="form-label"> @Model.Empresa3</label>
    <br />
    <label class="form-label"> @Model.Funcao3</label>
    <br />




</p>
    
    